:root {
    --content-color: #e50051;
    --secondary-color: #e8c606;
    --bottom-color: #24356d;
    --h1: 72px;
    --h2: 36px;
    --h3: 24px;
    --h4: 20px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
} 

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.flex {
    display: flex;
    flex-direction: column;
}
.flex-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
}