.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}
.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    width: 90%;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.8);
    animation-name: modalOpen;
    animation-duration: 0.7s;
    position: relative;
}
.modal-inner {
    width: 100%;
    height: 100%;
    h2 {
        font-size: var(--h2);
        font-weight: 800;
        padding-top: 1rem;
    }
    p {
        font-size: 13px;
        padding: 1rem 0;
    }
    a {
        color: var(--content-color);
        text-decoration: underline;
        font-weight: 600;
    }
}
.modalLayout ul li{
    display: flex;
    align-items: center;
}
.modalLayout a {
    color: #fff;
    text-decoration: none;
}
.modalDate {
    font-size: 1.2rem;
    font-weight: 600;
}
.modalLayout ul li div {
    flex: 1;
    padding: 1.2rem 0;
}
.modalLayout ul li:not(:last-child){
    border-bottom: 1px solid #000;
}
.modalLayout i {
    background-color: var(--secondary-color);
    padding: .2rem;
    border-radius: 50%;
    margin-right: .2rem;
}
.modalBottom {
    background-color: var(--secondary-color);
    margin-top: 1rem;
    border-radius: 10px;
    padding: 1rem 0;
}
.modalBottom ul {
    display: flex;
}
.modalBottom li {
    padding-right: .5rem;
}
.modalBottom i {
    margin: 0 .4rem;
}
.modalBottom li {
    font-size: 13px;
}
.modalBottom li:first-child {
    border-right: 1px solid #000;
}



.modal-content span {
    position: absolute;
    top: -30px;
    left: 10px;
    color: white;
    text-transform: uppercase;
    min-height: 22.5px;
    width: 82px;
    border-radius: 5px;
    background: var(--content-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    margin: 1rem 0;
}
.closeBtn {
    color: #ccc;
    float: right;
    font-size: 30px;
}
.closeBtn:hover,.closeBtn:focus, .modalLayout a:hover,.modalLayout a:focus  {
    color: #000;
    cursor: pointer;
}

@keyframes modalOpen {
    from{opacity: 0;}
    to{opacity: 1;}
}